.mainColor, body {

  background-color: #EBEBEB;
}

.secondMain {
  background-color: #C3D7DF;

}

.thirdMain {

  background-color: #6991AC;
}

.firstDGreyAccent {

  background-color: #67727A;
}

.SecondOrangeAccent {

  background-color: #D75C37;
}

.warningColor {
  background-color: #BB0F00;
}

body {

  background-color: #9775AA;
}

.instructions{
  background-color: #261758;
}

 .scoreToShow {


 }
