.mainColor, body {

  background-color: #EBEBEB;
}

.secondMain {
  background-color: #C3D7DF;

}

.thirdMain {

  background-color: #6991AC;
}

.firstDGreyAccent {

  background-color: #67727A;
}

.SecondOrangeAccent {

  background-color: #D75C37;
}

.warningColor {
  background-color: #BB0F00;
}


.instructions{
  background-color: #261758;
}
.importantText {
  font-weight: bold;
}
 .listSpace{
   margin: 0 0 5px 0;
 }

.background {
background-image: url("./library.jpeg");
background-size: contain;

}

.homePage {
  padding: 2%;
}
